.a{
    font-family: helvetica,arial,sans-serif;
}

.content{ 
    width: 801px;
    position: relative;
    margin: 0px auto;
    text-align: left;
    justify-content: center;
}

.wrapper center content{
    text-align: center;
    width: 100%;
}